@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap);

*,
*:after,
*:before {
  box-sizing: border-box;  
}

html {
  font-size: 62.5%;
  position: center;
}

body {
  margin: 100;
  padding: 100;
  background: #74b8e5;
  font-family: "Montserrat";
  font-size: 1.4rem;
  color: #999;
  vertical-align: center;
  justify-content: center;
  position: center;
  align-items: center;
  
  /* This will hide the Horizontal Scroll bar */
  overflow-x: hidden;
}
 
.wrap {
  width: 100%;
  overflow: hidden;
}

.wrap-inner {
  width: 300%;
  
  /* css transitions */
  transition: transform 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
  transform: translateX(0);
  -webkit-backface-visibility: hidden;
}

.section {
  margin: 10;
  width: 33%;
  height: 100%;
  padding: 1rem;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.alpha {
  color: #333;
}

.form {
  min-width: 30rem;
  background: #fff;
  border-radius: 4px;
  padding: 2rem;
  text-align: center;
  margin: 5em auto;
  display: inline-block;
}


/* Inputs */

.form-wrap {
  margin: 1;
  padding: 1rem 0;
}
.form-wrap .inputbox {
  border: 1px solid #eaedf2;
  border-radius: 3px;
  padding: 1rem 0 1rem 3.2rem;
  width: 44%;
  outline: none;
  margin-bottom: 1rem;
  font-family: inherit;
}
.form--login .form-wrap .inputbox {
  width: 88%;
}
.form-wrap .name {
  background: #eaedf2 url(img/user.png) 10px 13px no-repeat;
}
.form-wrap .email {
  background: #eaedf2 url(img/email.png) 10px 15px no-repeat;
}
.form-wrap .password {
  background: #eaedf2 url(img/password.png) 10px 10px no-repeat;
}
.form-wrap a.button {
  background: none repeat scroll 0 0 #65addd;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 2rem;
  text-decoration: none;
}
.form-wrap .button:hover {
  background :rgb(13, 86, 98);
}
.form-wrap a.button > i {
  font-size: 2rem;
}

.scroll {
  color: #555;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.scroll:hover {
  color: #222;
}

/* Goto */

.goto-2 {
  transform: translateX(-33%);
}
.goto-3 {
  transform: translateX(-66%);
}